
body {
  margin: 0;
  font-family: 'fa2', Helvetica, sans-serif;
  background-color: rgb(216, 209, 209);
  color: #5430a7;
}

@font-face {
    font-family: fa1;
    src: url(images/steph-font-bold\ \(1\).ttf);
}
@font-face {
    font-family: fa2;
    src: url(images/step-font.ttf);
}


.quellen-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

p {
    text-align:center;
    font-size:1.8rem;

}


.quellen-wrapper h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
}

h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:aqua;
    font-size:2rem;
    font-weight:normal;
}

.quellen-block {
  background-color: #000;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 12px;
 
}


.quellen-block h2 {
  margin-bottom: 25px;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}


.quelle {
  background-color: #f2f2f2;
  color: #000;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 1.2rem;
}


.quelle:hover {
  background-color: #d3cece;
}

a {
  color:rgb(21, 89, 177);
  
}

@media (max-width:768px) {
  .quelle {font-size:0.7rem; letter-spacing: -0.2px;}
 
}