
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Single+Ink:wght@100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
   --text-color:black;
    
}

html, body {
    background-color: rgb(216, 209, 209);
    margin:0;
    padding:0;
    background-color:rgb(219, 217, 217);
 scroll-behavior:smooth;
}

@font-face {
    font-family: fa1;
    src: url(images/steph-font-bold\ \(1\).ttf);
}
@font-face {
    font-family: fa2;
    src: url(/step-font.ttf);
}

.navbar {
    background-color: rgb(134, 61, 202);
    height:5rem;
    font-family:'fa2', sans-serif;
    font-size:1.4rem;
    margin:0; 
    padding: 20px 5%;
    box-sizing: border-box;
    display:flex;
    text-align:center;
    justify-content: space-between;

}

.logo {
    cursor:pointer;
    font-size:50px;
    font-weight:1200px; 

}

.logo a {
    text-decoration:none;
    color:rgb(12, 12, 8)
}

a:hover{
   
    color:blue;
 
   

}
.logo:hover {
    transform:scale(1.3);
}

.navbar-center {
    
    list-style:none;
    display:flex;
  align-items: center;

    
}
.navbar-center li {
  color:white;
  
  display:inline-block;
  gap:10%;
  font-size:40px;
  font-weight:400px;
  padding: 0 20px;
 
}

.navbar-center li:hover {
    transform:scale(1.2);
    color:aqua;

    transition: transform 0.3s ease;
}

p#jan {
  font-style:italic;
}

h2#zoelle {
  text-decoration:underline;
}
h2#vergleich {
  text-decoration:underline;
}

img {
  max-width: 100%;
  height: auto;
  display: block; 
}
.einleitung {
  font-size:1.3rem;
}
.text {

  font-size:1.3rem;
 
 
}
h2#welt-handel{
  text-decoration:underline;
  text-decoration-color:black;
  text-decoration-thickness:0.2rem;
}

    .highlight {
  background-color: #e6f2ff;
  padding: 2px 4px;
  border-radius: 3px;
  font-weight:600px;
}





.blog-container {
    width: 60%;
    margin: 40px auto 0 auto;      
    background-color: white;
    padding: 1.5rem;
    box-sizing: border-box;
    min-height: 12000px;
    border-radius: 8px;
      white-space: wrap;
    overflow-wrap: break-word;
    word-break: normal;
}
@media (max-width:1024px) {
  .blog-container {width:100%; margin:0;border-radius:0;}

} /** 100% Blog auf tablet/handy **/




.inhaltsverzeichnis {
  background-color: #e6e6e6;
  border: 2px solid #000;
  padding: 30px 35px;
  max-width: 900px;
  margin: 50px 0;
}


.inhaltsverzeichnis h2 {
  font-size: 2.2rem;
  color: #000;
  margin-bottom: 25px;
  text-align: left;
  text-decoration:underline;
}


.iv-hauptliste {
  list-style-type: decimal;
  padding-left: 25px;
  font-size: 1.3rem;
}


.iv-hauptliste > li {
  margin-bottom: 20px;
  font-weight: 600;
}


.iv-hauptliste ul {
  list-style: none;
  padding-left: 20px;
  margin-top: 10px;
}


.iv-hauptliste ul li {
  margin-bottom: 8px;
  font-weight: normal;
}

.inhaltsverzeichnis a {
  color: #111;
  text-decoration: none;
  transition: all 0.2s ease;
}

.inhaltsverzeichnis a:hover {
  text-decoration: underline;
  color: #0033cc;
}


.inhaltsverzeichnis a:active {
  color: #0066cc;
  font-weight: 600;
}




.heading {
    font-size:64px;
    font-weight:500;
    font-family:Rubik;
    padding: 0 0 0 2%;

}
.italic1 {
    
    font-family:Rubik;
    font-weight:20px;
    color:rgb(65, 81, 95);
}

.erstellungsdatum {
    font-family: 'Bebas Neue', sans-serif;
    font-size:30px;
    margin: 0 0 0 25px;
    
}
@media (max-width: 768px) {
  .erstellungsdatum {
    font-size: 25px;
    
  }

  .heading {
    font-size: 45px;
  }
  .navbar-center li {font-size:29px;}
}


.hr1 {
    color:purple;
    height:1px;
    border-radius:5px;
    border-color:purple;
    background-color:purple;


}







.impressum-bar {
  height: 100px;
  width: 100%;
  background-color: #1f1f1f;
  color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  font-size:1.5rem;
  font-family: sans-serif, Arial, Helvetica;

  box-sizing: border-box;
  font-weight:bold;
}

.impressum-item {
  max-width: 33%;
}

.impressum-item.center {
  text-align: center;
}

.impressum-item.right {
  text-align: right;
}

.impressum-bar a {
  color: #8bbcff;
  text-decoration: none;
}

.impressum-bar a:hover {
  text-decoration: underline;
}

@media (max-width: 1150px) {
  .impressum-bar {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
    gap: 10px;
    font-size: 0.9rem;
    height: 155px;
    
  }







  .impressum-item {
    max-width: 100%;
  }
}

@media (min-width: 1150px) and (max-width:1550px) {
  .impressum-bar {
    font-size:1.3rem;
    height:155px;
  }
}

@media (max-width:450px) {
  .navbar-center li {font-size:30px;}.navbar {height:6.5rem} }





